@tailwind base;
@tailwind components;
@tailwind utilities;

.f-f-p {
  font-family: 'Poppins', sans-serif;
}

.f-f-r {
  font-family: 'Roboto', sans-serif;
}

.black-mask {
  background: linear-gradient(0deg, #000000 0%, rgba(105, 104, 104, 0) 35%) !important;
}

.main {
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider {
  position: relative;
  width: 280px;
}

.slider__track,
.slider__range,
.slider__left-value,
.slider__right-value {
  position: absolute;
}

.slider__track,
.slider__range {
  border-radius: 3px;
  height: 5px;
}

.slider__track {
  background-color: #DDDDDD;
  width: 100%;
  z-index: 1;
}

.slider__range {
  background-color: #0070C0;
  z-index: 2;
}

.slider__left-value,
.slider__right-value {
  color: #dee2e6;
  font-size: 12px;
  margin-top: 20px;
}

.slider__left-value {
  left: 6px;
}

.slider__right-value {
  right: -4px;
}

/* Removing the default appearance */
.thumb,
.thumb::-webkit-slider-thumb {
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
}

.thumb {
  pointer-events: none;
  position: absolute;
  height: 0;
  width: 280px;
  outline: none;
}

.thumb--left {
  z-index: 3;
}

.thumb--right {
  z-index: 4;
}

/* For Chrome browsers */
.thumb::-webkit-slider-thumb {
  background-color: #f1f5f7;
  border: none;
  border-radius: 50%;
  box-shadow: 0 0 1px 1px #ced4da;
  cursor: pointer;
  height: 18px;
  width: 18px;
  margin-top: 4px;
  pointer-events: all;
  position: relative;
}

/* For Firefox browsers */
.thumb::-moz-range-thumb {
  background-color: #f1f5f7;
  border: none;
  border-radius: 50%;
  box-shadow: 0 0 1px 1px #ced4da;
  cursor: pointer;
  height: 18px;
  width: 18px;
  margin-top: 4px;
  pointer-events: all;
  position: relative;
}

@media (min-width: 600px) and (max-width: 1279px) {

  .slider,
  .thumb {
    width: 230px;
  }
}

.shadow-filter {
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
}