@tailwind base;
@tailwind components;
@tailwind utilities;

.f-f-p {
  font-family: 'Poppins', sans-serif;
}

.f-f-r {
  font-family: 'Roboto', sans-serif;
}

.black-mask {
  background: linear-gradient(0deg, #000000 0%, rgba(105, 104, 104, 0) 35%) !important;
}